
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*Contenedores Grid*/
.contenedor-grid {  
    display: grid;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    grid-template-rows: 0fr 2.2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-area nav-area nav-area"
      "main-area main-area section-area"
      "footer-area footer-area footer-area";
  }
  
  .main-area {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "card1 card1 card2 card2"
      "card1 card1 card2 card2"
      "card3 card3 card4 card4"
      "card3 card3 card4 card4";
    grid-area: main-area;
  }
  
  .card1 { 
    grid-area: card1; 
}
  
  .card2 { 
    grid-area: card2;     
}
  
  .card3 { 
    grid-area: card3; 
}
  
  .card4 { 
    grid-area: card4; 
}
  
  .section-area {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "section1 section1"
      "section1 section1"
      "section1 section1"
      "section2 section2"
      "section2 section2";
    grid-area: section-area;
  }
  
  .section1 { 
    grid-area: section1; 
    background-color: green;
    border: 8px solid #dcdcdc;

}
  
  .section2 { 
    grid-area: section2; 
    background-color: palevioletred;
    border: 8px solid #dcdcdc;
}
  
  .footer-area { 
    grid-area: footer-area; 
    background-color: #1C3879;    
}
  
  .nav-area {  /*Area del header completa*/
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo-area logo-area logo-area"
      "navbar-area navbar-area redes-area"; 
    grid-area: nav-area; 
    background-color: #1C3879;
  }

  .navbar-area {
    /*Area de los links de navegación*/
    grid-area: navbar-area; 
    align-self: center;
  }
  
  .logo-area { 
    grid-area: logo-area; 
    text-align: center;
}
  
  .redes-area { 
    grid-area: redes-area; 
    justify-self: end;
    align-self: center;
    padding-right: 10%;
}
/*Fin contenedores grid*/  

/*AREA BARRA NAVEGACIÓN*/ 

.logo-area img {
  width: 2em;
  padding-top: 1%;
}

.nav-area {
  align-self: end;
}

.nav-area ul {
    display: flex;
    flex-direction: row;
    list-style: none;   
    justify-content: center; 
}

.nav-area ul li {
  display: flex;

}

.nav-area ul li a {
    color: #dcdcdc;
    text-decoration: none;
    padding-right: 5rem;
}

.redes-area ul li a {
  padding-right: 2em;
}

.redes-area i {
    font-size: 2em;
}

/*CARDS*/

.card1, .card2, .card3, .card4 {
  padding: 10px;
  background-color: #dcdcdc;
}


.btn-primary {
  border: 1px solid #006eed;
  box-shadow: inset 0px 0px 30px -1px #041a5180 !important;
  text-shadow: 1px 1px 1px #0a0a0a;
}

.footer-area p {
    color: #f5f5f5;
    text-align: center;
    padding-top: 2%;
}

.text-footer {
  font-size: 1.5rem;
}

.copyright {
  font-size: 0.8rem;
}

.redes-footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 2%;
}

.redes-footer a {
    color: #f5f5f5;
}

.redes-footer i {
  font-size: 2.5em;
}
    
/*@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 100px){
    .aside{
        flex-direction: column;
    }
} */