
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

/*Contenedores Grid*/
.contenedor {  
    display: grid;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    grid-template-rows: 0.3fr 2.2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-area nav-area nav-area"
      "main-area main-area section-area"
      "footer-area footer-area footer-area";
  }
  
  .main-area {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "card1 card1 card2 card2"
      "card1 card1 card2 card2"
      "card3 card3 card4 card4"
      "card3 card3 card4 card4";
    grid-area: main-area;
  }
  
  .card1 { 
    grid-area: card1; 
    background-color: blueviolet;
}
  
  .card2 { 
    grid-area: card2;     
    background-color: blue; 
}
  
  .card3 { 
    grid-area: card3; 
    background-color: aqua;
}
  
  .card4 { 
    grid-area: card4; 
    background-color: yellowgreen;
}
  
  .section-area {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "section1 section1"
      "section1 section1"
      "section1 section1"
      "section2 section2"
      "section2 section2";
    grid-area: section-area;
  }
  
  .section1 { 
    grid-area: section1; 
    background-color: green;
}
  
  .section2 { 
    grid-area: section2; 
    background-color: palevioletred;
}
  
  .footer-area { 
    grid-area: footer-area; 
    background-color: #1C3879;
}
  
  .nav-area {  
    display: grid;
    grid-template-columns: 0.6fr 1.4fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo-area navbar-area redes-area";
    grid-area: nav-area;
    background-color: #1C3879;
    height: 10vh;

  }
  
  .logo-area { 
    grid-area: logo-area; 
}
  
  .navbar-area { grid-area: navbar-area; }
  
  .redes-area { grid-area: redes-area; }
/*Fin contenedores grid*/  

/*AREA BARRA NAVEGACIÓN*/ 

.logo-area img {
    width: 30%;
    padding-top: 3%;
    padding-left: 3%;
}

/*.pestanias{
    background: #1C3879;
    display: flex;       
    font-family: 'Poppins', sans-serif; 
    padding-left: 50px;
}

.pestanias a{
    color:#fff;
    font-size: 11px;
    padding:0 10px;
    text-decoration: none;
}

.pestanias ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
    
.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1C3879;
}
    
.redes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.redes a{
    list-style: none;
}

.redes ul {
    display: flex;
    justify-content: space-between;
}
    
.redes li {
    display: flex;
    list-style: none;
}
    
.redes i {
    color: #f5f5f5;
    font-size: 1.5rem;
    margin: 0.5rem;
}

/* .card {
    border: 5px solid #f0f0f0;
}

.cards-cursos {
    border: 3px solid black;
}

.cards-section {
    display: flex;
}

.dosCardsXLinea {
    display: flex;
    flex-wrap: wrap;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 60%;
}
    
.card-body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif; 
    font-size: 2rem;
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 2%;
    width: 100%;
}

.card-title {
    display: flex;
}

.card-text {
    display: flex;
    font-size: 1.5rem;
    padding-top: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: fit-content;
    height: auto;
}

.card-button {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #006eed;
    color: #ffffff;
    text-decoration: none;
    margin-top: 5%;
    border: 1px solid #006eed;
    border-radius: 50px;
    padding: 16px 50px;
    letter-spacing: 2px;
    border-radius: 50px;
    box-shadow: inset 0px 0px 30px -1px #041a5180;
    text-shadow: 2px 2px 2px #0a0a0a;
    cursor: pointer;
}

    

.footer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #1C3879;
    width: 100vw;
}
    
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 100px){
    .aside{
        flex-direction: column;
    }
} */