
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
  --background-color-headerFooter: #1C3879;
  --color-headerFooter: #ebebeb;
  --background-color-main: #f6f6f6;
  --border-cards-section:  8px solid #dcdcdc;
}

/*Contenedores Grid*/
.contenedor-grid {  
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1.1fr 1.1fr 0.8fr; 
  grid-template-rows: 0.4fr 1.4fr 1.5fr 1fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav-area nav-area nav-area"
    "main-area main-area section-area"
    "main-area main-area section-area"
    "form-area form-area form-area"
    "footer-area footer-area footer-area";
}

.nav-area {  
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo-area logo-area logo-area"
    "navbar-area navbar-area redes-area"; 
  grid-area: nav-area; 
  background-color: var(--background-color-headerFooter);
}

.logo-area { 
  grid-area: logo-area;
  text-align: center; 
}

.navbar-area { 
  grid-area: navbar-area; 
}

.redes-area { 
  grid-area: redes-area; 
}

.main-area {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "card1 card2"
    "card3 card4"; 
  grid-area: main-area; 
}

.card1, .card2, .card3, .card4 {
  border: var(--border-cards-section);
}

.card1 { 
  grid-area: card1; 
}

.card2 { 
  grid-area: card2; 
}

.card3 { 
  grid-area: card3; 
}

.card4 { 
  grid-area: card4; 
}

.img-limiteAlto {
  max-height: 351px;
}

.section-area { 
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "section1"
    "section2"; 
  grid-area: section-area; 

}

.section1 { 
  grid-area: section1; 
  border: var(--border-cards-section);
}

.section2 { 
  grid-area: section2; 
  border: var(--border-cards-section);
}

.form-area {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.7fr 1.3fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "encabezado-area"
    "formulario-area"; 
  grid-area: form-area; 
}
.formulario-area { grid-area: formulario-area; }
.encabezado-area {
  display: grid; 
  grid-template-columns: 1.4fr 0.6fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "titulo-area img-area"; 
  grid-area: encabezado-area; 
}
.titulo-area { 
  grid-area: titulo-area; 
}

.img-area { 
  grid-area: img-area; 
}

.footer-area { 
  grid-area:  footer-area; 
  background-color: var(--background-color-headerFooter);
}
/*Fin contenedores grid*/  

/*AREA BARRA NAVEGACIÓN*/ 

.logo-area img {
  width: 15vw;
  padding-top: 1%;
}

.navbar-area i {
  display: none;
}
.burguer {
  padding-left: 0.5em;
  font-size: 2.5em;
}

.nav-area {
  align-self: end;
}

.nav-area ul {
    display: flex;
    flex-direction: row;
    list-style: none;   
    justify-content: center;
    font-size: 0.9rem; 
}

.nav-area ul li {
  display: flex;

}

.nav-area ul li a {
    color: var(--color-headerFooter);
    text-decoration: none;
    padding-right: 5rem;
    transform: color 1s;
}

.navbar-area a:hover {
  color: #8d8d8d;
  animation: aumentado 0.6s;
}


.redes-area ul li a {
  padding-right: 2em;
}

.redes-area i {
    font-size: 2em;
    transition: color 1s;
}

.redes-area i:hover {
  color: #8d8d8d;
  animation: aumentado 0.6s;
}

/*CARDS*/

.card1, .card2, .card3, .card4 {
  padding: 10px;
  background-color: var(--background-color-main);
}

.card-titulo {
  padding-top: 5%;
  padding-bottom: 3%;
}

.card-texto {
  height: 8.5em;
  overflow: overlay;
}

.btn-primary {
  border: 1px solid #006eed;
  box-shadow: inset 0px 0px 30px -1px #041a5180 !important;
  text-shadow: 1px 1px 1px #0a0a0a;
}

/*FORMULARIO*/
.form-titulo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

.img-area img {
  width: 10vw;
}

.formulario-area {
  border: 8px solid black;
  width: 70vw;
  align-content: center;
}





/*FOOTER*/

.footer-area p {
  color: var(--color-headerFooter);
  text-align: center;
}

.text-footer {
  font-size: 2rem;
}

.copyright {
  font-size: 0.8rem;
}

.redes-footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 2%;
}

.redes-footer a {
  color: var(--color-headerFooter);
}

.redes-footer i {
  font-size: 2.5em;
  color: var(--color-headerFooter);
  transition: color 1s;
}

.footer-area i:hover {
  color: #8d8d8d;
  animation: aumentado 0.6s;
}

/*Animaciones*/
@keyframes aumentado  {
  /*redes sociales*/  
      0% {}
      25%{transform: scale(1.0),}
      50%{transform: scale(1.1);}	
      75%{transform: scale(1.1);}
      100%{transform: scale(1.0);}
  }

  /*Responsive*/
@media (max-width: 780px) {
  .contenedor-grid {  
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav-area nav-area"
      "main-area main-area"
      "main-area main-area"
      "main-area main-area"
      "main-area main-area"
      "section-area section-area"
      "section-area section-area"
      "footer-area footer-area"; 
  }
  
  .nav-area {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo-area";
    grid-area: 1 / 1 / 2 / 3;
  }
  
  .logo-area { grid-area: logo-area; }
  
  .footer-area { grid-area: 8 / 1 / 9 / 3; }
  
  .main-area {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
    grid-area: 2 / 1 / 6 / 3;
  }

  .card1, .card2, .card3, .card4 {
      text-align: center;
  }  
  .card1 { grid-area: card1; }
  
  .card2 { grid-area: card2; }
  
  .card3 { grid-area: card3; }
  
  .card4 { grid-area: card4; }
  
  .section-area {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "section1"
      "section2"; 
    grid-area: section-area; 
  }
  .section1 { grid-area: section1; }
  .section2 { grid-area: section2; }
  
}
    